#########################################################################
########################    Gitignore Mac  ##############################
#########################################################################

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#########################################################################
#####################   Python & Environments   #########################
#########################################################################

# Environment variables file
.env*

# Ignore Pycache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

#########################################################################
#################   PyCharm / JetBrains (Rider)   #######################
#########################################################################

# IntelliJ/JetBrains cache directory (Covers PyCharm, Rider, CLion, etc.)
.idea/

# Project configuration files
*.iml
*.iws
*.ipr
out/

#########################################################################
#########################   Visual Studio   #############################
#########################################################################

# Visual Studio cache/options directory
.vs/

# User-specific files
*.user
*.userosscache
*.sln.docstates
*.suo

# Visual Studio Code (Included just in case!)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json